/*Import Google Foont*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings, sans-serif';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c81515;
    flex-direction: column;
}
.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.cards{
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: rgb(26, 14, 194);
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
}
.card .front-view img{
    width: 19px;
}
.card .back-view img{
    max-width: 45px;
}
.card .back-view{
    transform: rotateY(-180deg);
}
.card.flip .back-view{
    transform: rotateY(0);
}
.card.flip .front-view{
    transform: rotateY(180deg);
}
.cards .card{
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.card.shake{
    animation: shake 0.35s ease-in-out;
}
.wrapper{
    padding: 25px;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background-color: #F8F8F8;
}

.details{
    width: 100%;
    border-radius: 7px;
    display: flex;
    background: #fff;
    height: calc(100% / 4 - 30px);
    justify-content: space-evenly;
    box-shadow: 0 3px 10px #0000001a;
  }
  .details p{
    font-size: 18px;
    height: 17px;
    padding-right: 18px;
    border-right: 1px solid #ccc;
  }
  .details p span{
    margin-left: 8px;
  }
  .details p b{
    font-weight: 500;
  }
  .details button{
    cursor: pointer;
    font-size: 14px;
    color: rgb(26, 14, 194);
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid rgb(26, 14, 194);
    transition: 0.3s ease;
}
.details button:hover{
    color: #fff;
    background: rgb(26, 14, 194);
}
.lancement{
    margin-bottom: 3%;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.lancement input{
    height: 30px;
    border: 3px solid rgb(26, 14, 194);
}
.lancement button{
    width: 100px;
    height: 30px;
    border: 3px solid rgb(26, 14, 194);
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}